<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <style>
        /* O modal (background) */
        .modal {
            display: none;
            /* Ocultar por padrão */
            position: fixed;
            /* Ficar no mesmo lugar (fixo) */
            z-index: 1;
            /* Ficar na frente */
            left: 0;
            top: 0;
            width: 100%;
            /* Largura completa */
            height: 100%;
            /* Altura completa */
            overflow: auto;
            /* Habilitar rolagem se necessário */
            background-color: rgb(0, 0, 0);
            /* Fundo de fallback */
            background-color: rgba(0, 0, 0, 0.4);
            /* Fundo com opacidade */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* 15% de margem superior e centralizada */
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            /* Pode ser mais ou menos, dependendo do tamanho que você quiser */
        }

        /* Botão de fechar (x) */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Editar Perfil</h1>

    <form id="deleteForm" action="/perfilUsu/deleteImage" method="post">
        <button type="submit">Excluir Foto</button>
    </form>

    <a href="/perfil-usuario"><button>Voltar</button></a>

    <img src="{{fotoPerfilUrl}}" id="ImgEdit" width="150px" height="150">

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Salvar</button>
    </form>

    <form id="editForm" action="/perfilUsu/editar" method="POST">
        <label for="nome">Novo Nome:</label>
        <input type="text" id="nome" name="nome" value="{{perfil.nome}}" required>

        <label for="email">Novo Email:</label>
        <input type="email" id="email" name="email" value="{{perfil.email}}" required>

        <label for="descricao">Nova Descrição:</label>
        <textarea id="descricao" name="descricao" required>{{perfil.descricao}}</textarea>

        <button type="button" id="editButton">Salvar</button>
    </form>

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Você tem certeza que deseja salvar as alterações?</p>
            <button id="confirmEditButton">Salvar</button>
            <button id="cancelButton">Cancelar</button>
        </div>
    </div>

    <script src="/confirmacaoEdit.js"></script>
</body>

</html>