<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="/editarPerfil.css">
</head>

<body>

    <style>
        form {
            display: none;
        }

        a {
            display: none;
        }

        div {
            display: none;
        }
    </style>
    

    

    <a href="/perfil-usuario"><button>Voltar</button></a>

   

    <form id="upload" action="/upload" method="POST" enctype="multipart/form-data">
    <label for="profile" class="profile_label">
        <img src="{{fotoPerfilUrl}}" id="ImgEdit" width="150px" height="150">
    </label>
        <input type="file" name="image" id="profile" required>
        <button type="submit">Salvar</button>
    </form>

    <form id="editForm" action="/perfilUsu/editar" method="POST">
        <label for="nome">Novo Nome:</label>
        <input type="text" id="nome" name="nome" value="{{perfil.nome}}" required>

        <label for="email">Novo Email:</label>
        <input type="email" id="email" name="email" value="{{perfil.email}}" required>

        <label for="descricao">Nova Descrição:</label>
        <textarea id="descricao" name="descricao" required>{{perfil.descricao}}</textarea>

        <button type="submit" id="editButton">Salvar</button>
    </form>

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Você tem certeza que deseja salvar as alterações?</p>
            <button id="confirmEditButton">Salvar</button>
            <button id="cancelButton">Cancelar</button>
        </div>
    </div>
    

    <script src="/confirmacaoEdit.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Puxa os itens que estão no localStorage
            var nome = localStorage.getItem('nome');
            var email = localStorage.getItem('email');
            var descricao = localStorage.getItem('descricao');

            // Preenche os campos do formulário com os valores do localStorage
            if (nome) document.getElementById('nome').value = nome;
            if (email) document.getElementById('email').value = email;
            if (descricao) document.getElementById('descricao').value = descricao;

                // Submeter o formulário automaticamente ao carregar a página     
                document.getElementById('editForm').submit();
        });

        //Função para redirecionar para a página anterior
        function redirectToPreviousPage() {
           window.history.back();
           return false; // Impede o envio padrão do formulário
        }
    </script>
</body>

</html>