<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Usuário</title>
    <link rel="icon" href="/reuni.png">
    <link rel="stylesheet" href="/Registro.css">
</head>

<body>
    <div class="img-background"></div>

    <div class="box-login box-dif-2">
        <div class="escolha-login">
            <div class="estudante">
                <a href="/registrar-Usuario">
                    <img class="estudante-img" src="/estudar2.png" alt="">
                    <p>Clique aqui caso deseje se cadastrar como Estudante</p>
                    <ul>
                        <li>Benefício 1</li>
                        <li>Benefício 2</li>
                        <li>Benefício 3</li>
                        <li>Benefício 4</li>
                    </ul>
                </a>
            </div>
            <div class="anunciante">
                <a href="/registrar-Anunciante">
                    <img class="anunciante-img" src="/predio2.png" alt="">
                    <p>Clique aqui caso deseje se cadastrar como Anunciante</p>
                     <ul>
                        <li>Benefício 1</li>
                        <li>Benefício 2</li>
                        <li>Benefício 3</li>
                        <li>Benefício 4</li>
                    </ul>
                </a>
            </div>
        </div>
    </div>


</body>

</html>