
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Repúblicas Favoritas</title>
</head>

<body>
    {{#each favoritos}}
    <div>
        <a href="/perfil-Republica?id={{id_republica}}">
        <p>Nome:{{dataValues.nome}}</p> 
        <p>Descrição: {{dataValues.descricao}}</p>
        <img src="/foto 1.jpg" alt="Quarto de uma república" class="imgQuarto" width="150px" height="200px">
        </a>
    </div>
    {{/each}}
</body>

</html>

