<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReUni - Encontre a melhor república</title>
    <link rel="icon" href="/reuni.png">

    <!-- Estilos -->
    <!-- Incluindo o arquivo de estilo principal -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- Fontes -->
    <!-- Importando a fonte 'Inter' do Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    
    <!-- Importando a fonte 'Poppins' do Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <!-- SVG para o efeito de fundo -->
    <svg xmlns="http://www.w3.org/2000/svg" width="848" height="1277" fill="none" viewBox="0 0 848 1277" class="svg-blur">
        <!-- Grupo com filtro de desfoque -->
        <g filter="url(#a)" opacity=".3">
            <!-- Elipse para o efeito de fundo -->
            <ellipse cx="148" cy="623" fill="#6EB6FF" rx="400" ry="354"/>
            <!-- Caminho para o efeito de fundo -->
            <path stroke="#000" d="M547.5 623c0 195.177-178.803 353.5-399.5 353.5S-251.5 818.177-251.5 623-72.697 269.5 148 269.5 547.5 427.823 547.5 623Z"/>
        </g>
        <!-- Definições do filtro de desfoque -->
        <defs>
            <filter id="a" width="1400" height="1308" x="-552" y="-31" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur result="effect1_foregroundBlur_1_266" stdDeviation="150"/>
            </filter>
        </defs>
    </svg>

    <!-- Segundo SVG para o segundo efeito de fundo -->
    <svg xmlns="http://www.w3.org/2000/svg" width="657" height="640" fill="none" viewBox="0 0 657 640" class="svg-blur-2">
        <!-- Grupo com filtro de desfoque -->
        <g filter="url(#a)" opacity=".2">
            <!-- Elipse para o segundo efeito de fundo -->
            <ellipse cx="624" cy="53" fill="#6EB6FF" rx="324" ry="287"/>
            <!-- Caminho para o segundo efeito de fundo -->
            <path stroke="#000" d="M947.5 53c0 158.174-144.777 286.5-323.5 286.5S300.5 211.174 300.5 53 445.277-233.5 624-233.5 947.5-105.174 947.5 53Z"/>
        </g>
        <!-- Definições do filtro de desfoque -->
        <defs>
            <filter id="a" width="1248" height="1174" x="0" y="-534" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur result="effect1_foregroundBlur_1_265" stdDeviation="150"/>
            </filter>
        </defs>
    </svg>

    <header>
        <!-- Link para a página inicial com o logotipo -->
        <a href="/home" class="logo_a">Re<span>Uni</span></a>
        <!-- Div para os botões -->
        <div class="buttons">
            <!-- Botão para registrar -->
            <a href="/cadastrar"><button class="registro">Registrar-se</button></a>
            <!-- Botão para fazer login -->
            <a href="/"><button class="login"> Login</button></a>
        </div>
    </header>
    
    <div class="alert {{#if success_msg}}show{{/if}}">
        {{#if success_msg}}
            <div class="success">{{success_msg}}</div>
        {{/if}}
    </div>

    <main class="container-inicial">
        <!-- Div para o texto principal -->
        <div class="texto-home">
            <!-- SVG para decoração -->
            <svg xmlns="http://www.w3.org/2000/svg" width="81" height="80" viewBox="0 0 81 80" fill="none">
                <path d="M0.547594 0.145413L80.6991 29.1966L31.2533 79.6778L0.547594 0.145413Z" fill="#215487"/>
            </svg>
            <!-- Div para o conteúdo -->
            <div class="content">
                <!-- Linha horizontal -->
                <hr>
                <!-- Div para o texto principal -->
                <div class="content-text">
                    <!-- Título -->
                    <h1>Bem vindo ao ReUni!</h1>
                    <!-- Parágrafo -->
                    <p>Encontrar a república universitária perfeita nunca foi tão fácil! No ReUni, estamos comprometidos em simplificar sua busca pela moradia ideal durante seus anos universitários. </p>
                    <!-- Botão com link -->
                    <button class="btn-saiba" ><a href="/pesquisa">Saiba mais</a></button>
                </div>
            </div>
        </div>
        <!-- Div para o vetor/gráfico -->
        <div class="vector"> 
            <!-- Imagem do conteúdo inicial -->
            <img src="/container-inicial.svg" alt="">  
        </div>
    </main>
    

    <main class="insights">
        <!-- Div para o título "Usuários Ativos" -->
        <div class="title">
            <h1>321 +</h1> <!-- Número de usuários ativos -->
            <p>Usuários ativos</p> <!-- Descrição -->
        </div>
        <!-- Div para o título "Repúblicas Disponíveis" -->
        <div class="content">
            <h1>25 +</h1> <!-- Número de repúblicas disponíveis -->
            <p>Repúblicas disponíveis</p> <!-- Descrição -->
        </div>
    </main>
   
    <main class="filtros">
        <svg xmlns="http://www.w3.org/2000/svg" width="848" height="1277" fill="none" viewBox="0 0 848 1277" class="svg-filtro">
            <g filter="url(#a)" opacity=".3">
              <ellipse cx="148" cy="623" fill="#6EB6FF" rx="400" ry="354"/>
              <path stroke="#000" d="M547.5 623c0 195.177-178.803 353.5-399.5 353.5S-251.5 818.177-251.5 623-72.697 269.5 148 269.5 547.5 427.823 547.5 623Z"/>
            </g>
            <defs>
              <filter id="a" width="1400" height="1308" x="-552" y="-31" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur result="effect1_foregroundBlur_1_266" stdDeviation="150"/>
              </filter>
            </defs>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="1229" height="827" fill="none" viewBox="0 0 1229 1127" class="svg-filtro2">
            <g filter="url(#a)" opacity=".3">
              <ellipse cx="614.5" cy="563.5" fill="#6EB6FF" rx="314.5" ry="263.5"/>
              <path stroke="#000" d="M928.5 563.5c0 145.172-140.496 263-314 263s-314-117.828-314-263 140.496-263 314-263 314 117.828 314 263Z"/>
            </g>
            <defs>
              <filter id="a" width="1229" height="1127" x="0" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur result="effect1_foregroundBlur_1_268" stdDeviation="150"/>
              </filter>
            </defs>
          </svg>
          <svg width="1039" height="671" viewBox="0 0 1039 671" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-filtro3">
            <g opacity="0.2" filter="url(#filter0_f_2_522)">
            <mask id="path-1-inside-1_2_522" fill="white">
            <path d="M888.054 166.92C893.502 259.041 865.044 345.854 808.052 410.97C751.061 476.086 669.48 515.001 578.71 520.366C487.941 525.731 394.265 497.176 315.366 440.092C236.467 383.008 177.805 301.345 150.455 210.519L403.535 163.291C411.692 190.38 429.188 214.736 452.72 231.761C476.252 248.787 504.191 257.303 531.263 255.703C558.335 254.103 582.667 242.497 599.665 223.076C616.662 203.655 625.15 177.762 623.525 150.287L888.054 166.92Z"/>
            </mask>
            <path d="M888.054 166.92C893.502 259.041 865.044 345.854 808.052 410.97C751.061 476.086 669.48 515.001 578.71 520.366C487.941 525.731 394.265 497.176 315.366 440.092C236.467 383.008 177.805 301.345 150.455 210.519L403.535 163.291C411.692 190.38 429.188 214.736 452.72 231.761C476.252 248.787 504.191 257.303 531.263 255.703C558.335 254.103 582.667 242.497 599.665 223.076C616.662 203.655 625.15 177.762 623.525 150.287L888.054 166.92Z" fill="#6EB6FF"/>
            <path d="M888.054 166.92C893.502 259.041 865.044 345.854 808.052 410.97C751.061 476.086 669.48 515.001 578.71 520.366C487.941 525.731 394.265 497.176 315.366 440.092C236.467 383.008 177.805 301.345 150.455 210.519L403.535 163.291C411.692 190.38 429.188 214.736 452.72 231.761C476.252 248.787 504.191 257.303 531.263 255.703C558.335 254.103 582.667 242.497 599.665 223.076C616.662 203.655 625.15 177.762 623.525 150.287L888.054 166.92Z" stroke="black" stroke-width="2" mask="url(#path-1-inside-1_2_522)"/>
            </g>
            <defs>
            <filter id="filter0_f_2_522" x="0.455078" y="0.287354" width="1038.26" height="670.718" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="75" result="effect1_foregroundBlur_2_522"/>
            </filter>
            </defs>
            </svg>
            
                      
          
        <div class="filtro1">
            <div class="txt">
                <h1>Lorem ipsum</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda cum blanditiis fugit, minus sapiente porro eveniet libero ad, excepturi quam praesentium asperiores voluptas sed, dolorem veniam quibusdam placeat quia fuga!</p>
            </div>
            <div class="img"><img src="/teste.gif" alt=""></div>
        </div>
        <div class="filtro2">
            <div class="img"><img src="/teste.gif" alt=""></div>
            <div class="txt"><h1>Lorem ipsum</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda cum blanditiis fugit, minus sapiente porro eveniet libero ad, excepturi quam praesentium asperiores voluptas sed, dolorem veniam quibusdam placeat quia fuga!</p></div>
        </div>
        <div class="filtro3">
            <div class="txt"><h1>Lorem ipsum</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda cum blanditiis fugit, minus sapiente porro eveniet libero ad, excepturi quam praesentium asperiores voluptas sed, dolorem veniam quibusdam placeat quia fuga!</p></div>
            <div class="img"><img src="/teste.gif" alt="" ></div>
        </div>
    </main>

    <main class="republicas">
        <div class="card-1">
            <div class="image"><img src="/quarto1.png"></div>
            <div class="text">
                <h1 class="nomeRepu">República Santos 1</h1>
                <h1>R$ 500-700 / mês</h1>
                <hr>
                <div class="icon"> 
                    <div class="icons"><img src="/mista.png"><p>Mista</p></div>
                    <div class="icons"><img src="/quartos.png"><p>3</p></div>
                    <div class="icons"><img src="/banheiro.png"><p>2</p></div>
                </div>
            </div>
        </div>
        <div class="card-2">
            <div class="image"><img src="/quarto1.png"></div>
            <div class="text"> 
                <h1 class="nomeRepu">República Santos 1</h1>
                <h1>R$ 500-700 / mês</h1>
                <hr>
                <div class="icon"> 
                    <div class="icons"><img src="/mista.png"><p>Mista</p></div>
                    <div class="icons"><img src="/quartos.png"><p>3</p></div>
                    <div class="icons"><img src="/banheiro.png"><p>2</p></div>
                </div></div>
        </div>
        <div class="card-3">
            <div class="image"><img src="/quarto1.png"></div>
            <div class="text"> 
                <h1 class="nomeRepu">República Santos 1</h1>
                <h1>R$ 500-700 / mês</h1>
                <hr>
                <div class="icon"> 
                    <div class="icons"><img src="/mista.png"><p>Mista</p></div>
                    <div class="icons"><img src="/quartos.png"><p>3</p></div>
                    <div class="icons"><img src="/banheiro.png"><p>2</p></div>
                </div></div>
        </div>
        <div class="card-4">
            <div class="image"><img src="/quarto1.png"></div>
            <div class="text"> 
                <h1 class="nomeRepu">República Santos 1</h1>
                <h1>R$ 500-700 / mês</h1>
                <hr>
                <div class="icon"> 
                    <div class="icons"><img src="/mista.png"><p>Mista</p></div>
                    <div class="icons"><img src="/quartos.png"><p>3</p></div>
                    <div class="icons"><img src="/banheiro.png"><p>2</p></div>
                </div></div>
        </div>
        
    </main>
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <a href="/pesquisa" class="logo_a_footer">Re<span>Uni</span></a>
                <p>É tudo sobre os seus sonhos.</p>

                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"><img src="/instagram.png" width="28px"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"><img src="/facebook.png" width="28px"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"> <img src="/whatsapp.png" width="28px"></i>
                    </a>
                </div>
            </div>
            
            <ul class="footer-list">
                <li>
                    <h3>Lorem</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">lorem</a>
                </li>
                <li>
                    <a href="#" class="footer-link">lorem</a>
                </li>
                <li>
                    <a href="#" class="footer-link">lorem</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Lorem</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">lorem</a>
                </li>
                <li>
                    <a href="#" class="footer-link">lorem</a>
                </li>
                <li>
                    <a href="#" class="footer-link">lorem</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Lorem</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">lorem</a>
                </li>
                <li>
                    <a href="#" class="footer-link">lorem</a>
                </li>
                <li>
                    <a href="#" class="footer-link">lorem</a>
                </li>
            </ul>
        </div>

        <div id="footer_copyright">
          @ 2024 all rights reserved
        </div>
    </footer>
    <script src="/sumirMsg.js"></script>

</body>
</html>