<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/reuni.png">
    <link rel="stylesheet" href="/Registro.css">
</head>
<body>

     <div class="alert {{#if success_msg}}show{{/if}}">
        {{#if success_msg}}
            <div class="success">{{success_msg}}</div>
        {{/if}}
    </div>

    <div class="box-login">
        <div class="txt-login">
            <p class="logo_a">Re<span>Uni</span></p>
            <p class="txt-registre-se">Entre</p>
            <p class="txt-fazer-login">Não possui conta? <a href="/registrar">Registra-se</a></p>
        </div>
        <div class="loginform" id="myform">
            <form id="loginForm" action="/auth/login" method="POST">
                <label for="ds_emailUsu">Email:</label><br>
                <input type="email" id="ds_emailUsu" name="ds_emailUsu" required><br><br>

                <label for="ds_senhaUSu">Senha:</label><br>
                <input type="password" id="ds_senhaUSu" name="ds_senhaUSu" required><br><br>
                <button type="submit" class="btn-registrar">Entrar</button>     
            </form> 
        </div>
    </div>

    <script src="/msgBemvindo.js"></script>
</body>
</html>
