<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Usuário</title>
    <link rel="icon" href="/reuni.png">
    <link rel="stylesheet" href="/Registro.css">
</head>

<body>
    <div class="img-background"></div>

    <div class="alert {{#if success_msg}}show{{/if}}{{#if error_msg}}show{{/if}}">
        {{#if success_msg}}
            <div class="success">{{success_msg}}</div>
        {{else}}
            {{#if error_msg}}
             <div class="error">{{error_msg}}</div>
            {{/if}}
        {{/if}}
    </div>

    <div class="box-login box-dif">
        <div class="txt-login">
            <p class="logo_a">Re<span>Uni</span></p>
            <p class="txt-registre-se">Login</p>
            <p class="txt-fazer-login">Não possui conta? <a href="/registrar-Usuario">Registra-se</a></p>
        </div>
        <div class="loginform" id="myform">
            <form class="form" id="loginForm" action="/auth/loginU" method="POST">
                <div class="input-group dif-group">
                    <p>Digite seu e-mail</p>
                    <input class="input-login" type="email" id="ds_emailUsu" name="ds_emailUsu" placeholder="johndoe@example.com">
                </div>
                <div class="input-group dif-group">
                    <p>Digite sua senha</p>
                    <input class="input-login1" type="password" id="ds_senhaUSu" name="ds_senhaUSu" placeholder="*******" required>
                </div>
                <button type="submit" class="btn-registrar login">Login</button>                  
            </form>
        </div>
    </div>

    <script src="/msgBemvindo.js"></script>
</body>

</html>