<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa</title>
    <link rel="stylesheet" href="/pesquisa.css">
</head>
<body>
    <input type="text" id="inputSearch" placeholder="Digite o nome do usuário">
    <button id="btnSearch">Buscar</button>

    <ul id="resultado" style="display: none;"></ul>

    <script></script>
</body>
</html>
