<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="icon" href="/reuni.png">
    <link rel="stylesheet" href="/Registro.css">
</head>
<body>   
    <div class="img-background"></div>

    <div class="alert {{#if success_msg}}show{{/if}}{{#if error_msg}}show{{/if}}">
        {{#if success_msg}}
            <div class="success">{{success_msg}}</div>
        {{else}}
            {{#if error_msg}}
                <div class="error">{{error_msg}}</div>
            {{/if}}
        {{/if}}
    </div>

    <div class="box-login">
        <div class="txt-login">
            <p class="logo_a">Re<span>Uni</span></p>
            <p class="txt-registre-se">Registre-se</p>
            <p class="txt-fazer-login">Já possui conta? <a href="/entrar">Login</a></p>
        </div>
        <div class="loginform" id="myform">
            <form id="cadastroForm" action="/auth/signIn" method="POST">
                <input class="input-login" type="text" id="nm_usu" name="nm_usu" placeholder= "Digite seu nome" required><br><br>
                <input class="input-login" type="email" id="ds_emailUsu" name="ds_emailUsu" placeholder= "Digite seu e-mail" required><br><br>
                <input class="input-login" type="password" id="ds_senhaUSu" name="ds_senhaUSu" placeholder= "Digite sua senha" required><br><br>
                <input class="input-login1" type="password" id="ds_senhaUSuConfirmar" name="ds_senhaUSuConfirmar" placeholder= "Confirme sua senha" required><br><br>

              
                <input type="text" name="idade">
              
                <input type="text" name="cpf">
              
                <input type="text" name="rg">
             
                <input type="text" name="descricao">

                <select name="sexo" id="">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>

                <select name="estado" id="">
                    <option value="sp">sp</option>
                    <option value="rj">rj</option>
                </select>

                <button type="submit" class="btn-registrar">Cadastrar</a></button>
            </form>
        </div>
    </div>
    <script src="/msgBemvindo.js"></script>
</body>
</html>