<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="icon" href="/reuni.png">
    <link rel="stylesheet" href="/Registro.css">
</head>

<body>
    <div class="img-background"></div>

    <div class="alert {{#if success_msg}}show{{/if}}{{#if error_msg}}show{{/if}}">
        {{#if success_msg}}
            <div class="success">{{success_msg}}</div>
        {{else}}
            {{#if error_msg}}
                <div class="error">{{error_msg}}</div>
            {{/if}}
        {{/if}}
    </div>

    <div class="box-login">
        <div class="txt-login">
            <p class="logo_a">Re<span>Uni</span></p>
            <p class="txt-registre-se">Registre-se</p>
            <p class="txt-fazer-login">Já possui conta? <a href="/entrar-Anunciante">Login</a></p>
            <p><a href="/registrar-Usuario">Se registrar como estudante</a></p>
        </div>
        <div class="loginform" id="myform">
            <form class="form" id="cadastroForm" action="/auth/signInA" method="POST">
                <input class="input-login" type="text" id="nm_anunciante" name="nm_anunciante"
                    placeholder="Digite seu nome" required><br><br>
                <input class="input-login" type="email" id="ds_emailAunci" name="ds_emailAunci"
                    placeholder="Digite seu e-mail" required><br><br>
                <input class="input-login" type="password" id="ds_senhaAnunci" name="ds_senhaAnunci"
                    placeholder="Digite sua senha" required><br><br>
                <input class="input-login1" type="password" id="ds_senhaAnunciConfirmar" name="ds_senhaAnunciConfirmar"
                    placeholder="Confirme sua senha" required><br><br>

                <div class="align-sex-idade">
                  <input type="date" id="dt_nascimento" name="dt_nascimento" required>  
                  <input class="input-login cpf" type="text" name="cpf"  maxlength="14"  oninput="mascaraCPF(this)" placeholder="Digite Seu CPF">
                    <select class="select-sex" name="sexo" id="">
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                    <button type="submit" class="btn-registrar">Cadastrar</a></button>
            </form>
        </div>
    </div>
    <script src="/msgBemvindo.js"></script>
    <script src="/limitarCampos.js"></script>
</body>

</html>