<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="icon" href="/reuni.png">
    <link rel="stylesheet" href="/Registro.css">
</head>

<body>
    <div class="img-background"></div>

    <div class="alert {{#if success_msg}}show{{/if}}{{#if error_msg}}show{{/if}}">
        {{#if success_msg}}
            <div class="success">{{success_msg}}</div>
        {{else}}
            {{#if error_msg}}
                <div class="error">{{error_msg}}</div>
            {{/if}}
        {{/if}}
    </div>
     <div class="box-login">
        <div class="txt-login">
            <p class="logo_a">Re<span>Uni</span></p>
            <p class="txt-registre-se">Registre-se</p>
            <p class="txt-fazer-login">Já possui conta? <a href="/entrar-Anunciante">Login</a></p>
            <p class="txt-registro-anunciante"><a href="/registrar-Usuario">Se registrar como estudante</a></p>

        </div>
        <div class="loginform" id="myform">
            <form class="form" id="cadastroForm" action="/auth/signInU" method="POST">
                <div class="input-group">
                    <p>Nome</p>
                    <input class="input-login" type="text" id="nm_usu" name="nm_usu" placeholder="John Doe" required>
                </div>
                <div class="input-group">
                    <p>Email</p>
                    <input class="input-login" type="email" id="ds_emailUsu" name="ds_emailUsu" placeholder="johndoe@example.com" required>
                </div>
                <div class="input-group">
                    <p>Senha</p>
                    <input class="input-login" type="password" id="ds_senhaUSu" name="ds_senhaUSu" placeholder="********" required>
                </div>
                <div class="input-group">
                    <p>Confirme sua senha</p>
                    <input class="input-login1" type="password" id="ds_senhaUSuConfirmar" name="ds_senhaUSuConfirmar" placeholder="********" required>
                </div>
                <div class="align-sex-idade">
                    <div class="input-group">
                        <p>CPF</p>
                        <input class="input-login cpf" type="text" name="cpf" maxlength="14" oninput="mascaraCPF(this)" placeholder="123.456.789-00">
                    </div>
                    <div class="input-group">
                        <p>Data de Nascimento</p>
                        <input class="data" type="date" id="dt_nascimento" name="dt_nascimento" required>
                    </div>
                </div>
                <div class="align-descricao-estado">
                    <div class="input-group">
                        <p>Sexo</p>
                        <select class="select-sex" name="sexo" id="">
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
                </div>
    <button type="submit" class="btn-registrar">Cadastrar</button>
</form>

        </div>
    </div>
    <script src="/msgBemvindo.js"></script>
    <script src="/limitarCampos.js"></script>
</body>

</html>