@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: inter;
}


header {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

header a {
    border: none;
    /* caso mude para botão */
    background-color: transparent;
    margin-left: 5%;
}

header .title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-right: 5%;
}

header .title span {
    color: #215487;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.card {
    width: 600px;
    height: 300px;
    display: flex;
    border: 2px solid #d6d6d6;
    border-radius: 20px;
    box-shadow: 0.5vw 0.5vw 0.5vw rgb(0, 0, 0, 0.35);
}

.img-card {
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.img-card img {
    width: 120%;
    height: 96.5%;
    border-radius: 22px 0px 0px 22px;
    padding: 2%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-top: 3%;
    gap: 20px;
    margin-left: -0.5%;
}



.content-card {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-card .name {
    width: 100%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-card .name h1 {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 5%;
    margin: 0;
}



.content-card .desc {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.content-card .desc h2 {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 5%;
    margin: 0;
}

.content-card .desc p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding-left: 5%;
    margin: 0;
}
