@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: inter;
}

body {
    margin: 0;
}

header {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

header a {
    border: none;
    /* caso mude para botão */
    background-color: transparent;
    margin-left: 5%;
}

header .title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-right: 5%;
}

header .title span {
    color: #215487;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.galery {
    width: 77%;
    height: 600px;
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.galery .content {
    height: 620px;
    width: 1180px;
    border-radius: 20px;
    overflow: hidden;
}

.galery .content .navigation {
    position: relative;
    bottom: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.galery .content .navigation .bar {
    width: 70px;
    height: 17px;
    border: 2px solid #ffffff;
    margin: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: .9s;
}

.galery input {
    display: none;
}

.galery .slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.galery .slide {
    width: 20%;
    transition: .9s;
}

.galery .slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}

.galery .content .navigation .bar:hover {
    background-color: #FFF;
}

.tittle-fav {
    width: 77%;
    height: 100px;
    margin-left: 10%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tittle-fav h1 {
    color: #1D2833;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}

.tittle-fav p {
    color: #1D2833;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 0px;
}

.hr-maior {
    margin-bottom: -3%;
    margin-left: 6.6%;
}

.tittle-fav button {
    border: none;
    background-color: transparent;
}

.container-desc {
    display: flex;
}

.container-desc .desc {
    display: flex;
    flex-direction: column;
    width: 42.5%;
    height: 700px;
    margin-top: 3%;
    margin-left: 6.6%;
}

.container-desc .desc h1 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}

.container-desc .desc hr {
    border-radius: 6px;
    border: none;
    background: rgba(110, 182, 255, 0.75);
    width: 103px;
    height: 3px;
    flex-shrink: 0;
    margin-top: 0px;
    margin-left: 0px;
}

.container-desc .desc p {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 571px;
    height: 511px;
    flex-shrink: 0;
}

.container-desc .desc .hr-maior-2 {
    stroke-width: 2px;
    stroke: #6EB6FF;
    width: 581px;
    height: 3px;
    border: none;
    flex-shrink: 0;
}

.container-desc .desc .tittle {
    margin-top: 8%;
}

.container-desc .desc .text {
    margin-top: 3%;
}

.container-desc .contact {
    width: 42.5%;
    height: 700px;
    margin-top: 3%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-desc .contact .box {
    width: 453px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1.5px solid #215487;
    box-shadow: 2px 2px 4.3px 4px rgba(0, 0, 0, 0.25);
}

.container-desc .contact .box .icon-nome {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2%;
    margin-left: 3%;
    gap: 15px;
}

.container-desc .contact .box .icon-nome h2 {
    color: #1D2833;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.container-desc .container-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 25px;
}

.container-desc .container-infos div {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 20px;
    width: 70%;
    margin-left: 10%;
}

.container-desc .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 19%;
}

.container-desc .button button {
    border-radius: 20px;
    width: 276px;
    height: 55px;
    flex-shrink: 0;
    border: 2px solid #215487;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #215487;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container-desc .button button:hover{
    color: white;
    background-color: #215487;
    border: 1px solid #215487;
    transition: 0.6s;
}


.comodidades {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 300px;
    margin-top: 1%;
    margin-left: 6.6%;
}

.comodidades .tittle {
    display: flex;
    flex-direction: column;

}

.comodidades .tittle h1 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2px;
}

.comodidades .tittle hr {
    border-radius: 6px;
    border: none;
    background: rgba(110, 182, 255, 0.75);
    width: 155px;
    height: 3px;
    flex-shrink: 0;
    margin-top: 0px;
    margin-left: 0px;
}

.comodidades .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    padding: 10px;
}

.regras {
    width: 85%;
    height: 180px;
    margin-top: 4%;
    margin-left: 6.6%;
    display: flex;
    flex-direction: column;
}

.regras .tittle {
    display: flex;
    flex-direction: column;
}

.regras .tittle h1 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2px;
}

.regras .tittle hr {
    border-radius: 6px;
    border: none;
    background: rgba(110, 182, 255, 0.75);
    width: 155px;
    height: 3px;
    flex-shrink: 0;
    margin-top: 0px;
    margin-left: 0px;
}

.regras .grid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    gap: 185px;
    padding: 10px;
}

.regras .grid-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sugestoes {
    width: 85%;
    height: 650px;
    margin-top: 7%;
    margin-left: 6.6%;
}

.sugestoes .tittle {
    display: flex;
    flex-direction: column;
}

.sugestoes .tittle h1 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2px;
}

.sugestoes .tittle hr {
    border-radius: 6px;
    border: none;
    background: rgba(110, 182, 255, 0.75);
    width: 100px;
    height: 3px;
    flex-shrink: 0;
    margin-top: 0px;
    margin-left: 0px;
}

#cards {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.card {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0.5vw 0.5vw 0.5vw rgb(0, 0, 0, 0.15);
    border-radius: 1vw;
    margin-top: 3vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    overflow: hidden;
}

.imgQuarto {
    width: 100%;
    position: relative;
}

.imgQuarto img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detalhes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.detalhes div {
    width: 3vw;
    display: flex;
    justify-content: center;
    box-shadow: -0.3vw -0.1vw 1vw rgb(0, 0, 0, 0.15);
    height: 1.5vw;
    align-items: center;
    padding: 0.4vw 1vw;
    border-radius: 0.5vw;
    gap: 0.3vw;
    margin-bottom: 1vw;
}

.card h4 {
    margin-left: 2vw;
    font-size: 1.1vw;
}

.card p {
    margin-left: 2vw;
    font-size: 1.1vw;
}

.imagem {
    width: 64px;
    height: 64px;
    background-size: cover;
    transition: background-image 0.2s ease; /* Adiciona transição suave */
}

#imagem1 {
    background-image: url('/favorito.png'); /* URL da primeira imagem */
}

#imagem1:hover {
    background-image: url('/favorito (1).png'); /* URL da segunda imagem */
}

#imagem1.favoritada {
    background-image: url('/favorito (1).png'); /* URL da segunda imagem */
}

.coment {
    width: 689px;
    height: 205px;
    border-radius: 17px;
    border: 1px solid #CDCDCD;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
}

.coment .perfil {
    width: 25%;
}

.coment .infos-coment {
    width: 100%;
}

.coment .infos-coment .titles-coment {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.coment .infos-coment .titles-coment h1 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.coment .infos-coment p {
    width: 100%;
    height: 70%;
    margin: 0;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    word-wrap: break-word; /* ou use overflow-wrap: break-word; */
}

.coment .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.coment .title p {
    color: black;
    font-size: 20px;

}

.coment .title .date {
    font-size: 12px;
}

.coment p {
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

.coment-pub {
    border-radius: 17px;
    border: 1px solid #CDCDCD;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    width: 639px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6%;
    margin-top: 6%;
}

.coment-pub textarea {
    border-radius: 17px;
    border: 1px solid #CDCDCD;
    background: #FFF;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25) inset;
    width: 577px;
    height: 237px;
    flex-shrink: 0;
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
    margin-top: 40px;
}

.coment-pub .inputs {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.coment-pub .inputs img {
    width: 26px;
    height: 26px;
}

.coment-pub .inputs .stars-align {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.coment-pub .inputs .stars-align p {
    color: #646464;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.coment-pub .inputs .stars-align button {
    border: none;
    background-color: transparent;
    margin: 0;
    cursor: pointer;
}


.coment-pub .enviar {
    border-radius: 5px;
    background: #215487;
    border: none;
    width: 175px;
    height: 24px;
    flex-shrink: 0;
    transition: 0.5s ease;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.coment-pub .enviar:hover {
    color: #215487;
    background-color: white;
    border: 1px solid #215487;
}

.grid-container-2 {
    margin-top: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 17%;
}

.info-coments {
    width: 100%;
    height: 300px;
    display: flex;
}

.titles-coments {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titles-coments h1 {
    color: #3E3E3E;
    font-family: Inter;
    font-size: 118px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.titles-coments p {
    color: #646464;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.stars {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.stars .numbers {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.stars .numbers p {
    color: #646464;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.stars .stars-icon {
    display: flex;
    flex-direction: column;
    gap: 44.3px;
}

.stars .value-stars {
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.stars .value-stars .stars-5, .stars .value-stars .stars-4, .stars .value-stars .stars-3, .stars .value-stars .stars-2, .stars .value-stars .stars-1 {
    width: 527px;
    height: 23px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #D9D9D9;
}

.stars .value-stars .stars-5 div {
    width: 429px;
    height: 23px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #6EB6FF;
}

.stars .value-stars .stars-4 div {
    width: 464px;
    height: 23px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #6EB6FF;
}

.stars .value-stars .stars-3 div {
    width: 277px;
    height: 23px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #6EB6FF;
}

.stars .value-stars .stars-2 div {
    width: 405px;
    height: 23px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #6EB6FF;
}

.stars .value-stars .stars-1 div {
    width: 76px;
    height: 23px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #6EB6FF;
}