@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: inter;
}

body {
    margin: 0;
    padding: 0;
}


header {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

header a {
    border: none;
    /* caso mude para botão */
    background-color: transparent;
    margin-left: 5%;
}

header .title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-right: 5%;
}

header .title span {
    color: #215487;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.background {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url('/teste.jpg');
}

.background img {
    background-color: white;
    border: 2px solid white;
}

.align-itens {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.align-itens .title {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.align-itens .title .name {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5%;
    padding-left: 5%;
}

.align-itens .title .name hr {
    width:45%;    
    background-color: #6EB6FF;
    height: 3px;
    border: none;
    margin: 0;
}

.align-itens .title .name h1 {
    margin: 0;
    color: #1D2833;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.align-itens .title .desc {
    width: 100%;
    height: 80%;
    padding-left: 5%;
}

.align-itens .title .desc p {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 70%;
    height: 60%;
}

.box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.box-info .box {
    width: 353px;
    height: 338px;
    border-radius: 20px;
    padding: 8px;
    background-color: white;
    flex-shrink: 0;
    border: 1.5px solid #215487;
    box-shadow: 2px 2px 4.3px 4px rgba(0, 0, 0, 0.25);
}

.box-info .box .content p {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    margin: 0;
    margin-top: 6%;
    line-height: 100%; /* 24px */
}

.box-info .box .content h3 {
    text-align: center;
    color: #1D2833;
    font-family: Inter;
    font-size: 24px;
    margin-top: 2%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 6%;
    margin-left: 3%;
}

.buttons button {
    width: 16vh;
    height: 5.3vh;
    border-radius: 1.5vh;
    background: #215487;
    
  
    
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #fff;
  color: #215487;
  border: 3px solid #215487;
  transition: 0.5s;
}

.modal {
    display: none;
    /* Ocultar por padrão */
    position: fixed;
    /* Ficar no mesmo lugar (fixo) */
    z-index: 1;
    /* Ficar na frente */
    left: 0;
    top: 0;
    width: 100%;
    /* Largura completa */
    height: 100%;
    /* Altura completa */
    overflow: auto;
    /* Habilitar rolagem se necessário */
    background-color: rgb(0, 0, 0);
    /* Fundo de fallback */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fundo com opacidade */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% de margem superior e centralizada */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Pode ser mais ou menos, dependendo do tamanho que você quiser */
}

/* Modal Content/Box */
.modal-content-2 {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% de margem superior e centralizada */
    border: 1px solid #888;
    width: 50%;
    /* Pode ser mais ou menos, dependendo do tamanho que você quiser */
}

.modal-content-2 .closeButton {
    display: flex;
    width: 100%;
    justify-content: right;
}

.modal-content-2 .closeButton img {
    width: 50px;
    height: 50px;
}


/* Botão de fechar (x) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#ImgEdit {
    margin-top: 2vw;
    border-radius: 100%;
}