ul {
    list-style: none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-item a {
    width: 450px;
    max-height: 150px;
    background-color: white;
    display: flex;
    text-decoration: none;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.lista {
    width: 100%;
    height: 22vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section-item .img {
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
}

.section-item .content {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    text-align: center;
}

.section-item .content .title-local {
    width: 100%;
    height: 30%;
    margin: 0px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.section-item .content .title-local h1 {
    color: #000;
    font-size: 20px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.section-item .content .title-local p {
    color: #585757;
    font-size: 12px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 30px */
    margin: 0;
}

.section-item .content .title-local div {
    display: flex;
    flex-direction: row;
    gap: 1%;
    align-items: center;
}


.section-item .content .valor {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    margin-top: 6%;
}

.section-item .content .valor p {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 30px */
}

.section-item .content .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 45%;
    gap: 4%;
    align-items: center;
}

.section-item .content .cards div {
    width: 60px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
    gap: 4%;
}

.section-item .content .cards img {
    width: 18px;
}

.section-item .content .cards p {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    width: 50%;
    text-align: center;
}