ul {
    list-style: none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-item a {
    width: 450px;
    max-height: 150px;
    background-color: white;
    display: flex;
    text-decoration: none;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.lista {
    width: 100%;
    height: 22vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section-item .img {
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
}

.section-item .content {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    text-align: center;
}

.section-item .content .title-local {
    width: 100%;
    height: 30%;
    margin: 0px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.section-item .content .title-local h1 {
    color: #000;
    font-size: 20px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.section-item .content .title-local p {
    color: #585757;
    font-size: 12px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 30px */
    margin: 0;
}

.section-item .content .title-local div {
    display: flex;
    flex-direction: row;
    gap: 1%;
    align-items: center;
}


.section-item .content .valor {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    margin-top: 6%;
}

.section-item .content .valor p {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 30px */
}

.section-item .content .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 45%;
    gap: 4%;
    align-items: center;
}

.section-item .content .cards div {
    width: 60px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
    gap: 4%;
}

.section-item .content .cards img {
    width: 18px;
}

.section-item .content .cards p {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    width: 50%;
    text-align: center;
}


.text-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.text-content p, .text-content h4 {
    margin: 10px;
    text-align: left;
    padding-left: 5%;
}

.imgQuarto {
    width: 120%;
    position: relative;
}

.imgQuarto img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detalhes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.detalhes div {
    width: 3vw;
    display: flex;
    justify-content: center;
    box-shadow: -0.3vw -0.1vw 1vw rgb(0, 0, 0, 0.15);
    height: 1.5vw;
    align-items: center;
    padding: 0.4vw 1vw;
    border-radius: 0.5vw;
    gap: 0.3vw;
    margin-bottom: 1vw;
}

.card h4 {
    font-size: 1.1vw;
}

.card p {
    font-size: 1.1vw;
}



.card a {
    width: 100%;
    display: flex;
}

.card {
    width: 450px;
    background-color: #ffffff;
    border-radius: 1vw;
    padding: 8px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    overflow: hidden;
    border: 3px solid #D9D9D9;
    box-shadow: 0.5vw 0.5vw 0.5vw rgb(0, 0, 0, 0.45);
}

.imgQuarto-div {
    display: flex;
    width: 100%;
    height: 55%;
}

.imgQuarto-div a {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    
}

.imgQuarto-div img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.imagem {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 5%;
    left: 82%;
    background-size: cover;
    transition: background-image 0.2s ease; /* Adiciona transição suave */
}

#imagem1 {
    background-image: url('/favorito.png'); /* URL da primeira imagem */
}

#imagem1:hover {
    background-image: url('/favorito (1).png'); /* URL da segunda imagem */
}

#imagem1.favoritada {
    background-image: url('/favorito (1).png'); /* URL da segunda imagem */
}

.content {
    display: flex;
    height: 45%;
    flex-direction: column;
}
