* {
    font-family: 'Inter', sans-serif;
}

body {
    height: auto;
    width: auto;
}

nav {
    width: 100%;
    display: flex;
    padding: 0vw 0vw 0vw 2.5vw;
}

header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo_a {
    font-family: sans-serif;
    font-size: 40px;
    padding-left: 35px;
    text-decoration: none;
    color: #000;
}


header .logo_a span {
    color: #215487;
}



header .buttons-log  button:hover {
    background-color: #FFF;
    color: #215487;
    border: 3px solid #215487;
    transition: 0.5s;   
}

/* Navbar container */
.navbar {
    overflow: hidden;
    font-family: Arial;
    margin-right: 5%;
  }
  
  /* Links inside the navbar *
  
  /* The dropdown container */

  #ImgEdit{
    width: 100px;
    height: 100px;
    margin-top: 2vw;
    border-radius: 100%;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
  }
  

  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #215487;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: white;
    color: black;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 2s;
}

.fade-out {
    opacity: 0;
}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #b2e2fc;
    color: #215487;
    border: 1px solid #86cdff;
    padding: 15px;
    border-radius: 4px;
}

.navLeft {
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
}

input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #0000;
    margin: 15px 15px 15px 0px;
    border-radius: 7px;
}

#resultado {
    z-index: 6;
}

.navLeft img {
    width: 7vw;
}

.navRight {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

.navRight p {
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    gap: 0.3vw;
}

.navRight p img {
    width: 1.8vw;
    height: 1.8vw;
}

.navRight img {
    width: 3vw;
    height: 3vw;
}

.navRight p:hover {
    transition: 1s;
}

.exposicao {
    width: 100%;
    display: flex;
    margin-top: 5vw;
}

.sectionLeft {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionLeft div p {
    font-size: 1.7vw;
    align-items: center;
    display: flex;
    color: #9F9F9F;
}

.titulo {
    display: flex;
    justify-content: center;
}

.sectionLeft div h1 {
    font-size: 4vw;
    width: 84%;
    margin: 0vw 0vw 0vw 9vw;
    border-left: solid 0.4vw;
    border-color: #215487;
    padding-left: 2vw;
}

.pesquisa {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    position: relative;
    z-index: 9;
}

.box {
    width: 75%;
    display: flex;
    border: solid 2px;
    border-radius: 1vw;
    border-color: #D9D9D9;
    background-color: #ffffff;
    box-shadow: 0.5vw 0.5vw 0.5vw rgb(0, 0, 0, 0.15);
    height: 4.8vw;
    margin-left: 7%;
}

.box div {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.localizacao {
    border-right: solid 2px;
    border-color: #D9D9D9;
}

.localizacao img {
    width: 4vw;
}

.imgPreco {
    width: 3.5vw;
    margin: 0 1vw 0 1vw;
}

.preco {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnpesquisar {
    width: 4.5vw;
    height: 2.7vw;
    border-radius: 1.5vw;
    background-color: #215487e3;
    margin-right: 0.5vw;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.btnpesquisar:hover {
    background-color: #215487;
}

.imglupa {
    width: 2.3vw;
}

.sectionRight {
    width: 40%;
}

.sectionRight img {
    width: 35vw;
}

.republicas {
    margin-top: 5vw;
    width: 100%;
    display: flex;
}

aside {
    width: 30%;
    display: flex;
    justify-content: center;
}

.procurar {
    width: 130%;
    height: 6.6vw;
    border-radius: 0.4vw;
    background-color: #D8DDE0;
    padding-left: 1vw;
}

.procurar h4 {
    margin: 1vw 0vw 1vw 0vw;
    text-decoration: none;
}

.procurar p {
    font-size: 19px;
}

.procurar div {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0.2vw;
    color: #4F4F4F;
    font-size: 1vw;
    top: -12%;
}

.procurarRepublicas {
    width: 1.5vw;
    margin: 0vw 0.5vw 0vw 0.5vw;
    padding-right: 6%;
}

.opc {
    display: flex;
    margin: 0;
    gap: 2vw;
}

.opc ul {
    display: flex;
    border: solid 1px;
    height: 2.5vw;
    align-items: center;
    padding: 0;
    border-radius: 0.5vw;
    border-color: #2F80ED;
}

.opc a {
    text-decoration: none;
    color: var(--Gray-2, #4F4F4F);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.3px;
}

.brd {
    border-right: solid 1px;
    border-color: #2F80ED;
}

.opc li {
    height: 2.5vw;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0vw 1vw 0vw 1vw;
    color: #4F4F4F;
    font-size: 1vw;
}

.opc li:hover {
    cursor: pointer;
}

#firt {
    border-right: solid 2px;
    border-color: #2F80ED;
    background-color: #E3EFFD;
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    color: #2F80ED;
}

section h2 {
    margin: 0;
}

.filtro {
    border: solid 1px;
    border-radius: 1.4vw;
    width: 12.5vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: center;
    height: 4vw;
    border-color: #9F9F9F;
}

.filtro p {
    width: 7vw;
    opacity: 60%;
}

.filtro img {
    width: 2vw;
    height: 2vw;
    opacity: 60%;
}

.AddFavoritos {
    position: relative;
}

#cards {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}


.card-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 20px;
    margin-left: 5%;
    margin-bottom: 5%;
    overflow: hidden;
}

.card-container-2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto ;
    gap: 20px;
    margin-left: 5%;
    margin-bottom: 5%;
    overflow: hidden;
}

.card {
    width: calc(25% - 20px);
    margin-bottom: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
  

}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
    }

}

@media screen and (max-width: 1080px) {


    .card-container {
        grid-template-columns: auto auto;
        margin-left: 8%;
    }
}

.card a {
    width: 100%;
    display: flex;
}

.card {
    width: 450px;
    background-color: #ffffff;
    border-radius: 1vw;
    margin-top: 3vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    overflow: hidden;
    border: 2px solid #D9D9D9;
    box-shadow: 0.5vw 0.5vw 0.5vw rgb(0, 0, 0, 0.35);
}
.text-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.text-content p, .text-content h4 {
    margin: 10px;
    text-align: left;
    padding-left: 5%;
}

.imgQuarto {
    width: 120%;
    position: relative;
}

.imgQuarto img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detalhes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.detalhes div {
    width: 3vw;
    display: flex;
    justify-content: center;
    box-shadow: -0.3vw -0.1vw 1vw rgb(0, 0, 0, 0.15);
    height: 1.5vw;
    align-items: center;
    padding: 0.4vw 1vw;
    border-radius: 0.5vw;
    gap: 0.3vw;
    margin-bottom: 1vw;
}

.card h4 {
    font-size: 1.1vw;
}

.card p {
    font-size: 1.1vw;
}

.procurar>div {
    position: relative;
}

.procurar>div>ul {
    background-color: #f1f1f1;
    position: absolute;
    top: 70%;
    border-radius: 16px;
    padding-right: 30px;
    left: -20px;
}

.procurar>div>ul li {
    cursor: pointer;
}

.titulo-rep {
    display: flex;
    justify-content: left;
}

.imagem {
    width: 64px;
    height: 64px;
    position: relative;
    background-size: cover;
    transition: background-image 0.2s ease; /* Adiciona transição suave */
}

#imagem1 {
    background-image: url('/favorito.png'); /* URL da primeira imagem */
}

#imagem1:hover {
    background-image: url('/favorito (1).png'); /* URL da segunda imagem */
}

#imagem1.favoritada {
    background-image: url('/favorito (1).png'); /* URL da segunda imagem */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* Estilo básico do select */
.select-estado {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    -webkit-appearance: none; /* Remove a seta padrão do Chrome e Safari */
    -moz-appearance: none; /* Remove a seta padrão do Firefox */
    appearance: none; /* Remove a seta padrão dos navegadores que suportam appearance */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4zM2 5L0 3h4z"/></svg>'); /* Seta customizada */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    height: 45px;
  }
  
  /* Estilo quando o select está focado */
  .select-estado:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }
  
  /* Estilo dos options (opcional, pois o estilo é mais limitado) */
  .select-estado option {
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Ajuste de padding para evitar sobreposição da seta customizada */
  .select-estado {
    padding-right: 30px; /* Espaço para a seta */
  }

  /* Estilo básico do input de preço */
.input-preco {
    width: 100%; /* Ajuste conforme necessário */
    max-width: 300px; /* Largura máxima */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    height: 2   5px;
  }
  
  /* Estilo quando o input está focado */
  .input-preco:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }
  
  /* Estilo do placeholder */
  .input-preco::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  /* Estilo quando o input está desabilitado */
  .input-preco:disabled {
    background-color: #e9e9e9;
    color: #999;
    border-color: #ddd;
    cursor: not-allowed;
  }
  
  /* Estilo de erro */
  .input-preco.error {
    border-color: #e7747a;
    background-color: #fce4e4;
    color: #a94442;
  }
  
  .input-preco.error:focus {
    box-shadow: 0 0 5px rgba(231, 116, 122, 0.5);
  }
  
/* Estilo básico dos botões */
.form button {
  width: 70%;
  height: 40px;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 110%;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: 1s;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0; /* Espaçamento vertical entre os botões */
  border: 3px solid black;
}

/* Estilo do botão "Limpar Filtros" */
.btn-limpar {
  background-color: #e7747a;
}

.btn-limpar:hover {
  background-color: #d85b5f;
  font-size: 125%;
  transition: 0.5s;
}

/* Estilo do botão "Filtrar" */
.btn-filtrar {
  background-color: #215487;
}

.btn-filtrar:hover {
  background-color: #1a4070;
  font-size: 125%;
  transition: 0.5s;
}




.republicas-mts {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55vh;
}


.repu-selec{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.repu-container {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.repu-grid {
    display: grid;
    grid-template-rows: 1fr; 
    grid-auto-flow: column;
    width: 140%;
    height: 100%;
    gap: 30px;
    overflow: hidden;
    align-items: center;
}

.repu-grid section {
    position: relative;
    transition: 0.8s ease;
    left: 0%;
}

.setaEsquerda, .setaDireita{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.setaDireita button, .setaEsquerda button {
    background: transparent;
    border: none;
    width: 60px;
    height: 50px;
}

.setaDireita img, .setaEsquerda img {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.setaEsquerda img {
    transform: rotate(180deg);
}

.dashboard {
    width: 65%;
    margin-left: 15%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/Frame 1.png');
}

.dashboard div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 20px;
}

.dashboard p {
    color: #1D2833;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    width: 700px;
    text-align: center;
    line-height: normal;
    margin-bottom: 0px;
}

.dashboard button {
    width: 230px;
    height: 70px;
    border: none;
    border-radius: 32px;
    background-color: #1D2833;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0; /* Espaçamento vertical entre os botões */
    border: 3px solid black;
}

.dashboard button:hover {
    background-color: #1a4070;
    border: 2px solid black;
    transition: 0.5s;
}