/* Mantendo os estilos existentes */

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.input-group {
  margin-bottom: 20px;
  width: 70%;
  text-align: left;
}

.input-group p {
  margin: 0 0 5px 0;
  font-size: 14px;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.img-background {
  background-image: url("/background-register-login.png");
  filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.alert {
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  transition: opacity 2s;
}

.fade-out {
  opacity: 0;
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #b2e2fc;
  color: #215487;
  border: 1px solid #86cdff;
  padding: 15px;
  border-radius: 4px;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #e7747a;
  color: #000000;
  border: 1px solid #dd6060;
  padding: 15px;
  border-radius: 4px;
}

.box-login {
  text-align: center;
  background-color: #fff;
  width: 678px;
  height: 778px;
  border-radius: 12%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.box-dif {
  height: 500px;
}

.logo_a {
  margin: 0;
  margin-top: 6%;
  font-family: sans-serif;
  font-size: 40px;
  color: #000;
}

.logo_a span {
  color: #215487;
}

.txt-registre-se {
  margin: 0;
  margin-top: 3%;
  font-size: 190%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.box-login .txt-login .txt-fazer-login {
  margin: 0;
  margin-top: 3%;
  font-family: "Poppins", sans-serif;
}

.box-login .txt-login .txt-fazer-login a {
  color: #215487;
}

.box-login .txt-login .txt-registro-anunciante a {
  color: #215487;
}

.loginform {
  height: 526px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  unicode-bidi: normal;
  height: 100%;
}

.input-login,
.input-login1 {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #c7c7c7;
  font-family: "Poppins", sans-serif;
  padding: 12px;
}

.login {
  margin-top: 5%;
}

.dif-group {
  margin-top: 4%;
}

.align-sex-idade {
  display: flex;
  gap: 3%;
  align-items: center;
  width: 70%;
}

.align-descricao-estado {
  display: flex;
  align-items: center;
  gap: 20%;
  width: 70%;
}

.cpf {
  width: 100%;
  height: 40px;
}

.select-sex,
.select-estado,
.data[type="date"] {
  width: 100%;
  height: 40px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.data[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #66afe9;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.data[type="date"]::-webkit-calendar-picker-indicator:hover {
  background-color: #559fd3;
}

.data[type="date"]::-moz-calendar-picker-indicator {
  background-color: #66afe9;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.select-sex,
.select-estado {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4zM2 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.select-sex:focus,
.select-estado:focus,
.data[type="date"]:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.select-sex option,
.select-estado option {
  background-color: #f9f9f9;
  color: #333;
}

.btn-registrar {
  width: 70%;
  height: 40px;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 110%;
  border: none;
  border-radius: 32px;
  background-color: #215487;
  cursor: pointer;
  transition: 1s;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-registrar:hover {
  width: 74%;
  height: 44px;
  font-size: 125%;
  transition: 0.5s;
}
